name: Test Simple

on:
  workflow_dispatch:

jobs:
  test:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v4

      - name: Test
        run: python euro_auto_news/euro_auto_news/send_msg.py
        env:
          FEISHU_WEBHOOK: ${{ secrets.FEISHU_WEBHOOK }}
